## Project 2 - EDA on Vehicle Insurance Customer Data

In [1]:
import numpy as np
import pandas as pd
import warnings
#warnings.simplefilter('ignore',Userwarning)

In [2]:
customer_details=pd.read_csv('customer_details.csv')

In [3]:
customer_policy_details=pd.read_csv('customer_policy_details.csv')

## 1. Add the column names to both datasets:

## i. Column Name for customer details table:

In [4]:
customer_details=pd.read_csv('customer_details.csv',header=None,names=['customer_id','gender','age','driving_license_present',
                                                      'region_code','previously_insured','vehicle_age','vehicle_damage'])
customer_details=customer_details.drop([0],axis=0)
customer_details

,customer_id,gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
1,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
2,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
3,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
4,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
5,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381105,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No
381106,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No
381107,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No
381108,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes
381109,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No

In [5]:
customer_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 1 to 381109
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   customer_id              380723 non-null  float64
 1   gender                   380741 non-null  object
 2   age                      380741 non-null  float64
 3   driving_license_present  380716 non-null  float64
 4   region_code              380717 non-null  float64
 5   previously_insured       380728 non-null  float64
 6   vehicle_age              380728 non-null  object
 7   vehicle_damage           380702 non-null  object
dtypes: float64(5), object(3)
memory usage: 23.3+ MB

## ii. Column Name for customer_policy table:

In [6]:
customer_policy_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       380722 non-null  float64
 1   1       380763 non-null  float64
 2   2       380709 non-null  float64
 3   3       380721 non-null  float64
 4   4       380748 non-null  float64
dtypes: float64(5)
memory usage: 14.5 MB

In [7]:
customer_policy_details=pd.read_csv('customer_policy_details.csv',header=None,names=['customer_id','annual premium (in Rs)',
                                                                         'sales channel code','vintage',' response'])
customer_policy_details=customer_policy_details.drop([0],axis=0)
customer_policy_details

,customer_id,annual premium (in Rs),sales channel code,vintage,response
1,1.0,40454.0,26.0,217.0,1.0
2,2.0,33536.0,26.0,183.0,0.0
3,3.0,38294.0,26.0,27.0,1.0
4,4.0,28619.0,152.0,203.0,0.0
5,5.0,27496.0,152.0,39.0,0.0
...,...,...,...,...,...
381105,381105.0,30170.0,26.0,88.0,0.0
381106,381106.0,40016.0,152.0,131.0,0.0
381107,381107.0,35118.0,160.0,161.0,0.0
381108,381108.0,44617.0,124.0,74.0,0.0
381109,381109.0,41777.0,26.0,237.0,0.0

In [8]:
customer_policy_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 1 to 381109
Data columns (total 5 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   customer_id             380722 non-null  float64
 1   annual premium (in Rs)  380763 non-null  float64
 2   sales channel code      380709 non-null  float64
 3   vintage                 380721 non-null  float64
 4    response               380748 non-null  float64
dtypes: float64(5)
memory usage: 14.5 MB

## 2. Checking and Cleaning Data Quality:

## i. Null values

## Generate a summary of count of all the null values column wise

In [9]:
customer_details.isnull().sum()

customer_id                386
gender                     368
age                        368
driving_license_present    393
region_code                392
previously_insured         381
vehicle_age                381
vehicle_damage             407
dtype: int64

In [10]:
customer_policy_details.isnull().sum()

customer_id               387
annual premium (in Rs)    346
sales channel code        400
vintage                   388
 response                 361
dtype: int64

## Drop Null values for customer_id because central tendencies for idâ€™s is not feasible.

In [11]:
customer_details=customer_details.dropna(subset=['customer_id'])

In [12]:
customer_details.isnull().sum()

customer_id                  0
gender                     368
age                        366
driving_license_present    392
region_code                391
previously_insured         381
vehicle_age                381
vehicle_damage             406
dtype: int64

In [13]:
customer_policy_details=customer_policy_details.dropna(subset=['customer_id'])

In [14]:
customer_policy_details.isnull().sum()

customer_id                 0
annual premium (in Rs)    344
sales channel code        400
vintage                   388
 response                 361
dtype: int64

## Replace all null values for numeric columns by mean.

In [15]:
customer_policy_details=customer_policy_details.fillna(customer_policy_details.mean().mean())

In [16]:
customer_policy_details.isnull().sum()

customer_id               0
annual premium (in Rs)    0
sales channel code        0
vintage                   0
 response                 0
dtype: int64

In [17]:
customer_details['customer_id'].fillna(customer_details['customer_id'].mean(),inplace=True)

C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\1722107701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['customer_id'].fillna(customer_details['customer_id'].mean(),inplace=True)

In [18]:
customer_details.isnull().sum()

customer_id                  0
gender                     368
age                        366
driving_license_present    392
region_code                391
previously_insured         381
vehicle_age                381
vehicle_damage             406
dtype: int64

In [19]:
customer_details['age'].fillna(customer_details['age'].mean(),inplace=True)

C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\368346861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['age'].fillna(customer_details['age'].mean(),inplace=True)

In [20]:
customer_details.isnull().sum()

customer_id                  0
gender                     368
age                          0
driving_license_present    392
region_code                391
previously_insured         381
vehicle_age                381
vehicle_damage             406
dtype: int64

In [21]:
customer_details['driving_license_present'].fillna(customer_details['driving_license_present'].mean(),inplace=True)

C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\980406395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['driving_license_present'].fillna(customer_details['driving_license_present'].mean(),inplace=True)

In [22]:
customer_details.isnull().sum()

customer_id                  0
gender                     368
age                          0
driving_license_present      0
region_code                391
previously_insured         381
vehicle_age                381
vehicle_damage             406
dtype: int64

In [23]:
customer_details['region_code'].fillna(customer_details['region_code'].mean(),inplace=True)

C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\3160532558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['region_code'].fillna(customer_details['region_code'].mean(),inplace=True)

In [24]:
customer_details.isnull().sum()

customer_id                  0
gender                     368
age                          0
driving_license_present      0
region_code                  0
previously_insured         381
vehicle_age                381
vehicle_damage             406
dtype: int64

In [25]:
customer_details['previously_insured'].fillna(customer_details['previously_insured'].mean(),inplace=True)

C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\426157778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['previously_insured'].fillna(customer_details['previously_insured'].mean(),inplace=True)

In [26]:
customer_details.isnull().sum()

customer_id                  0
gender                     368
age                          0
driving_license_present      0
region_code                  0
previously_insured           0
vehicle_age                381
vehicle_damage             406
dtype: int64

## Replace all null values for Categorical value by mode

In [27]:
customer_policy_details=customer_policy_details.fillna(customer_policy_details.mode())

In [28]:
customer_policy_details.isnull().sum()

customer_id               0
annual premium (in Rs)    0
sales channel code        0
vintage                   0
 response                 0
dtype: int64

In [29]:
customer_details['gender'].fillna(customer_details['gender'].mode()[0],inplace=True)
customer_details['vehicle_age'].fillna(customer_details['vehicle_age'].mode()[0],inplace=True)
customer_details['vehicle_damage'].fillna(customer_details['vehicle_damage'].mode()[0],inplace=True)

C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\299561429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['gender'].fillna(customer_details['gender'].mode()[0],inplace=True)
C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\299561429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['vehicle_age'].fillna(customer_details['vehicle_age'].mode()[0],inplace=True)
C:\Users\RAMANATHAN\AppData\Local\Temp\ipykernel_9484\299561429.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_details['vehicle_damage'].fillna(customer_details['vehicle_damage'].mode()[0],inplace=True)

In [30]:
customer_details.isnull().sum()

customer_id                0
gender                     0
age                        0
driving_license_present    0
region_code                0
previously_insured         0
vehicle_age                0
vehicle_damage             0
dtype: int64

## ii. Outliers

## Generate a summary of count of all the outliers column wise

## (Hint1: for outlier treatment use IQR method as follows:

## For example: for a column X calculate Q1 = 25th percentile and Q3 = 75th percentile then IQR = Q3 â€“ Q1 ) then to check outlier, anything lower than a Q1 â€“ 1.5IQR or greater than Q3 + 1.5 IQR would be an outlier

In [31]:
q1=customer_policy_details.quantile(0.25)
q3=customer_policy_details.quantile(0.75)
iqr=q3-q1
l=q1-(1.5*iqr)
u=q3+(1.5*iqr)
((customer_policy_details<l).sum())

customer_id               0
annual premium (in Rs)    0
sales channel code        0
vintage                   0
 response                 0
dtype: int64

In [32]:
((customer_policy_details>u).sum())

customer_id                   0
annual premium (in Rs)    10239
sales channel code          400
vintage                     388
 response                 46965
dtype: int64

## Replace all outlier values for numeric columns by mean.

In [33]:
customer_policy_details[~(customer_policy_details>(u))].max()

customer_id               381109.0
annual premium (in Rs)     61949.0
sales channel code           163.0
vintage                      299.0
 response                      0.0
dtype: float64

In [34]:
customer_policy_details['annual premium (in Rs)']=customer_policy_details['annual premium (in Rs)'].astype('float')

In [35]:
q1=customer_policy_details[['annual premium (in Rs)']].quantile(0.25)
q3=customer_policy_details[['annual premium (in Rs)']].quantile(0.75)
iqr=q3-q1
l=q1-(1.5*iqr)
u=q3+(1.5*iqr)

In [36]:
(customer_policy_details[['annual premium (in Rs)']]>u).sum()

annual premium (in Rs)    10239
dtype: int64

## iii. White spaces

In [37]:
customer_details['gender'].str.strip()

1           Male
2           Male
3           Male
4           Male
5         Female
           ...
381105      Male
381106      Male
381107      Male
381108    Female
381109      Male
Name: gender, Length: 380723, dtype: object

In [38]:
customer_details['vehicle_damage'].str.strip()

1         Yes
2          No
3         Yes
4          No
5          No
         ...
381105     No
381106     No
381107     No
381108    Yes
381109     No
Name: vehicle_damage, Length: 380723, dtype: object

In [39]:
customer_details['vehicle_age'].str.strip()

1         > 2 Years
2          1-2 Year
3         > 2 Years
4          < 1 Year
5          < 1 Year
            ...
381105     1-2 Year
381106     < 1 Year
381107     < 1 Year
381108    > 2 Years
381109     1-2 Year
Name: vehicle_age, Length: 380723, dtype: object

## case correction(lower or upper, any one)

In [40]:
customer_details.apply(lambda x: x.astype(str).str.upper())

,customer_id,gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
1,1.0,MALE,44.0,1.0,28.0,0.0,> 2 YEARS,YES
2,2.0,MALE,76.0,1.0,3.0,0.0,1-2 YEAR,NO
3,3.0,MALE,47.0,1.0,28.0,0.0,> 2 YEARS,YES
4,4.0,MALE,21.0,1.0,11.0,1.0,< 1 YEAR,NO
5,5.0,FEMALE,29.0,1.0,41.0,1.0,< 1 YEAR,NO
...,...,...,...,...,...,...,...,...
381105,381105.0,MALE,74.0,1.0,26.0,1.0,1-2 YEAR,NO
381106,381106.0,MALE,30.0,1.0,37.0,1.0,< 1 YEAR,NO
381107,381107.0,MALE,21.0,1.0,30.0,1.0,< 1 YEAR,NO
381108,381108.0,FEMALE,68.0,1.0,14.0,0.0,> 2 YEARS,YES
381109,381109.0,MALE,46.0,1.0,29.0,0.0,1-2 YEAR,NO

## Convert nominal data (categorical) into dummies

In [41]:
pd.get_dummies(customer_details)

,customer_id,age,driving_license_present,region_code,previously_insured,gender_Female,gender_Male,vehicle_age_1-2 Year,vehicle_age_< 1 Year,vehicle_age_> 2 Years,vehicle_damage_No,vehicle_damage_Yes
1,1.0,44.0,1.0,28.0,0.0,0,1,0,0,1,0,1
2,2.0,76.0,1.0,3.0,0.0,0,1,1,0,0,1,0
3,3.0,47.0,1.0,28.0,0.0,0,1,0,0,1,0,1
4,4.0,21.0,1.0,11.0,1.0,0,1,0,1,0,1,0
5,5.0,29.0,1.0,41.0,1.0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381105,381105.0,74.0,1.0,26.0,1.0,0,1,1,0,0,1,0
381106,381106.0,30.0,1.0,37.0,1.0,0,1,0,1,0,1,0
381107,381107.0,21.0,1.0,30.0,1.0,0,1,0,1,0,1,0
381108,381108.0,68.0,1.0,14.0,0.0,1,0,0,0,1,0,1
381109,381109.0,46.0,1.0,29.0,0.0,0,1,1,0,0,1,0

In [42]:
pd.get_dummies(customer_policy_details)

,customer_id,annual premium (in Rs),sales channel code,vintage,response
1,1.0,40454.0,26.0,217.0,1.0
2,2.0,33536.0,26.0,183.0,0.0
3,3.0,38294.0,26.0,27.0,1.0
4,4.0,28619.0,152.0,203.0,0.0
5,5.0,27496.0,152.0,39.0,0.0
...,...,...,...,...,...
381105,381105.0,30170.0,26.0,88.0,0.0
381106,381106.0,40016.0,152.0,131.0,0.0
381107,381107.0,35118.0,160.0,161.0,0.0
381108,381108.0,44617.0,124.0,74.0,0.0
381109,381109.0,41777.0,26.0,237.0,0.0

## Drop Duplicates (duplicated rows)

In [43]:
customer_details.drop_duplicates()

,customer_id,gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
1,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
2,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
3,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
4,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
5,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381105,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No
381106,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No
381107,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No
381108,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes
381109,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No

In [44]:
customer_policy_details.drop_duplicates()

,customer_id,annual premium (in Rs),sales channel code,vintage,response
1,1.0,40454.0,26.0,217.0,1.0
2,2.0,33536.0,26.0,183.0,0.0
3,3.0,38294.0,26.0,27.0,1.0
4,4.0,28619.0,152.0,203.0,0.0
5,5.0,27496.0,152.0,39.0,0.0
...,...,...,...,...,...
381105,381105.0,30170.0,26.0,88.0,0.0
381106,381106.0,40016.0,152.0,131.0,0.0
381107,381107.0,35118.0,160.0,161.0,0.0
381108,381108.0,44617.0,124.0,74.0,0.0
381109,381109.0,41777.0,26.0,237.0,0.0

## 3.Create a Master table for future use. Join the customer table and customer_policy table to get a master table using customer_id in both tables.

## (Hint: use pd.merge() function)

In [45]:
master_table=pd.merge(customer_details,customer_policy_details)
master_table

,customer_id,gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage,annual premium (in Rs),sales channel code,vintage,response
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes,40454.0,26.0,217.0,1.0
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No,33536.0,26.0,183.0,0.0
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes,38294.0,26.0,27.0,1.0
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No,28619.0,152.0,203.0,0.0
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380331,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No,30170.0,26.0,88.0,0.0
380332,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No,40016.0,152.0,131.0,0.0
380333,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No,35118.0,160.0,161.0,0.0
380334,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes,44617.0,124.0,74.0,0.0
380335,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No,41777.0,26.0,237.0,0.0

## 4. Company needs some important information from the master table to make decisions for future growth.They needs following information:

##  i. Gender wise average annual premium

In [46]:
master_table.groupby(['gender'])['annual premium (in Rs)'].mean()

gender
Female    30505.151882
Male      30635.409127
Name: annual premium (in Rs), dtype: float64

In [47]:
master_table.groupby(['age']).mean()['annual premium (in Rs)']

age
20.0    26940.061164
21.0    30573.665891
22.0    30837.557285
23.0    30698.806695
24.0    31194.927275
            ...
81.0    31201.571429
82.0    37705.379310
83.0    31012.727273
84.0    35440.818182
85.0    29792.363636
Name: annual premium (in Rs), Length: 67, dtype: float64

## Is your data balanced between the genders?

In [48]:
master_table['gender'].value_counts()

Male      205851
Female    174485
Name: gender, dtype: int64

##  Vehicle age wise average annual premium.

In [49]:
master_table.groupby(['vehicle_age']).mean()['annual premium (in Rs)']

vehicle_age
1-2 Year     30538.472949
< 1 Year     30126.565208
> 2 Years    35667.836135
Name: annual premium (in Rs), dtype: float64

## 5. Is there any relation between Person Age and annual premium?

## Hint: use correlation function (Correlation describes the relationship between two variables). 

## Correlation coefficient < -0.5           - Strong negative relationship

## Correlation coefficient > 0.5            -  Strong positive relationship

## 0.5 < Correlation coefficient < 0.5   - There is no relationship.

In [50]:
np.corrcoef(master_table['age'],master_table['annual premium (in Rs)'])

array([[1.        , 0.06777995],
       [0.06777995, 1.        ]])